node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.production
.env.test
.phpunit.result.cache
.php_cs.cache
.DS_Store
Thumbs.db
docker-compose.yml
Dockerfile
.devcontainer
.vscode
tests
coverage